{% extends "TomSiteBundle::base.html.twig" %}

{% block pageTitle %}{{ parent() }} {% endblock %}
{% block ogTitle %}{{ parent() }}   {% endblock %}
{% block ogImage %}                 {% endblock %}
{% block metaDescription %}         {% endblock %}
{% block ogDescription %}           {% endblock %}
{% block metaKeywords %}            {% endblock %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block seoText %}          {% endblock %}

{% block pageLeftside %}
<section>

    <div class="row">
        <div class="col-md-12">

        <!-- post -->
        <article class="blog-post">
				<div class="blog-post-container">
				   <img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="">
				</div>

				<div class="post-entry">

                    <div class="post-meta"><span class="post-category"><a href="#">Lorem ipsum</a></span></div>
                    <div class="divider"></div>
				    <h1><a href="#">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</a></h1>
                    <div class="post-meta">Posted on <span class="post-time">February 23, 2015</span> by <span class="post-author"><a href="#"> Lorem ipsum</a></span></div>

				   <p> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>

                <div class="tag-cloud">
                        <a href="#"> Lorem ipsum</a>
                        <a href="#"> Lorem ipsum</a>
                        <a href="#"> Lorem ipsum</a>
                        <a href="#"> Lorem ipsum</a>
                        <a href="#"> Lorem ipsum</a>
                        <a href="#"> Lorem ipsum</a>
                </div>

				</div>
			</article>
            <!-- post end -->

            <!-- author -->
            <section>
            <h4 class="main-heading"><span>Author</span></h4>

              <div class="author">
              	<div class="author-image">
              		<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="">
              	</div>
              	<div class="author-text-body">
              		<h3><a href="#"> Lorem ipsum</a> <span> Lorem ipsum</span></h3>
              		<p> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                      <div class="author-social">
                          <a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                          <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                          <a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                          <a href="http://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                          <a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i></a>
                          <a href="http://tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
                          <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                      </div>
              	</div>
              </div>

            </section>

            <!-- related -->
            <section>
            <h4 class="main-heading"><span>Polecane</span></h4>

             <div class="row">
                  <div class="col-md-4">

              		<div class="related-article">
              			<div class="related-article-container">
              				<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="">
              			</div>
              			<div class="related-article-body">
              				<h3 class="title"><a href="#"> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</a></h3>
              			</div>
              		</div>

                  </div>
                  <div class="col-md-4">

              		<div class="related-article">
              			<div class="related-article-container">
              				<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="">
              			</div>
              			<div class="related-article-body">
              				<h3 class="title"><a href="#"> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</a></h3>
              			</div>
              		</div>

                  </div>
                  <div class="col-md-4">

              		<div class="related-article">
              			<div class="related-article-container">
              				<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="">
              			</div>
              			<div class="related-article-body">
              				<h3 class="title"><a href="#"> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem</a></h3>
              			</div>
              		</div>

                  </div>
              </div>
            </section>
            <!-- end related -->

    		<!--== Comments ==-->
  			<h4 class="main-heading"><span>Komentarze</span></h4>
    		<div class="comments">
    			<ul class="comment-list">
    				<li>
    					<div class="comment">
    						<div class="comment-author">
    							<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="Author">
    							<a href="#" rel="external nofollow" class="comment-author-name">Tomek</a>
    							<span class="comment-meta">March 17 2015 18:45</span>
    						</div>
    						<div class="comment-body">
    							<p> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    							<a href="#" class="comment-reply"><i class="fa fa-reply"></i> Odpowiedz</a>
    						</div>
    					</div>
    					<ul class="children">
    						<li>
    							<div class="comment">
    								<div class="comment-author">
    									<img src="http://firenze.different-themes.com/html/images/demo/1200x800-3.jpg" alt="Author">
    									<a href="#" rel="external nofollow" class="comment-author-name">Marcin</a>
    									<span class="comment-meta">March 17 2015 18:45</span>
    								</div>
    								<div class="comment-body">
    									<p> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    									<a href="#" class="comment-reply"><i class="fa fa-reply"></i> Odpowiedz</a>
    								</div>
    							</div>
    						</li>
    					</ul>
    				</li>
    			</ul>
    		</div>

    		<!--== Post Reply ==-->
  			<h4 class="main-heading"><span>Napisz komentarz</span></h4>

              <div class="comment-form-body">
              <div class="row">
              <form class="comment-form" action="#">
                  <div class="col-md-6">

                      <label for="author">Twoję imie</label>
                      <input id="author" type="text" placeholder="Your name" name="author">

                  </div>

                  <div class="col-md-6">
                      <label for="email">Adres Email</label>
                      <input id="email" type="text" placeholder="Email" name="author">
                  </div>

                  <div class="col-md-12">
                      <label for="email">Tytuł</label>
                      <input id="email" type="text" placeholder="Subject" name="subject">
                  </div>

                  <div class="col-md-12">
                      <label for="comment">Komentarz</label>
                      <textarea name="comment" id="comment" cols="35" rows="5"></textarea>
                  </div>

                  <div class="col-md-12"><input type="submit" value="Wyślij" class="submit-button"></div>
              </form>
              </div>
              </div>

        </div><!-- end col-md-12 -->
    </div><!-- end row -->

   </section>
{% endblock %}

{% block pageContainer %}
test  
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}