@charset "utf-8";
/* CSS Document */
.logo {
	text-align: center;
}
.navbar-nav>li>a {
	padding-top: 10px!important;
	padding-bottom: 5px!important;
}
.navbar-collapse.collapse {
	text-align: center; /* Set this */
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
.navbar-nav {
	display: inline-block;
	float: none;
	margin: 0;
}
