{% extends "CommonUserBundle:Email:base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 21px; color: #000;">
        Twoje nowe hasło to: <span style="font-weight: bold">{{ plainPasswd }}</span>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}