{% extends "CommonUserBundle:Email:base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 21px; color: #000;">
        Dostaliśmy prośbę o zresetowanie hasła do Twojego konta. 
        
        Poniżej znajduje się link resetujący hasło.
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 21px; color: #000;">
        <a href="{{ resetUrl }}">{{ resetUrl }}</a>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}