{% for success in app.session.flashBag.get('success', []) %}
<div class="notification success">
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        {{ success|trans }}
    </div>
</div>
{% endfor %}

{% for failure in app.session.flashBag.get('error', []) %}
<div class="notification block">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ failure|trans }}
    </div>
</div>
{% endfor %}